variables:
    EOS_PATH: "/eos/project/a/allpix-squared/www/"
    GIT_SUBMODULE_STRATEGY: recursive

stages:
    - compile
    - deploy

compilation:
    stage: compile
    tags:
        - docker
    image: clicdp/cc7-base
    before_script:
        - curl --silent -L https://github.com/gohugoio/hugo/releases/download/v0.30.2/hugo_0.30.2_Linux-64bit.tar.gz | tar zxf -
    script:
        - source .gitlab-ci.d/init_x86_64.sh
        - export GIT_COMMIT_SHA=`git rev-parse --verify HEAD`
        - export GIT_COMMIT_SHA_SHORT=`git rev-parse --short HEAD`
        - ./hugo
        - cp .htaccess public
    # Generation of website
    artifacts:
        paths:
            - public
        expire_in: 1 hour

# Deploy to EOS folder
deployment:
    stage: deploy
    only:
      - master
    # Custom docker image providing the needed tools to deploy in EOS
    image: gitlab-registry.cern.ch/ci-tools/ci-web-deployer:latest
    script:
        - deploy-eos
    # do not run any globally defined before_script or after_script for this step
    before_script: []
    after_script: []
