/* Styles */
/* Page Defaults */
html{
	height: 100%;
  margin-top: 0 !important;
}
body{
	text-align:center;
	padding:0 0px;
	height:100%;
}

.placeholder { color: #aaa; }

#apsq-page{
	padding-top:60px;
	padding-bottom:0px;
	padding-left:10px;
	padding-right:10px;
 	min-height: 100%;
}

.flexbox #apsq-page{
	display:flex;
	padding:10px;
}

.flexbox #apsq-content{
	margin:0;
}

/* Margins */
#apsq-description,#apsq-logo, #apsq-socialprofiles,#apsq-privacy-policy-txt, #apsq-headline,#apsq-progressbar,#apsq-countdown,#apsq-thankyoumsg,#apsq-sharebuttons,#apsq-afterform{
	margin-bottom:30px;
}

/* Responsive Images */
#apsq-description img,#apsq-thankyoumsg img, #apsq-logo{
	max-width:100%;
	height:auto;
}

/* Content Elements */
#apsq-content{
	width:100%;
	padding:30px;
	margin:0 auto;
}

#apsq-content ul {
	list-style-position: inside;
	padding-left: 0px;
}

#apsq-headline{
	margin-top:0;
}

#apsq-name, #apsq-email, #apsq-subscribe-btn{
	margin-bottom:10px;
}

#apsq-field-wrapper{
  margin-left:auto;
  margin-right:auto;
}

.form-el{
	border-color: transparent !important;
}

.noglow {
  outline: none !important;
}


.seperate #apsq-subscribe-btn{
	margin-left:10px;
}

.apsq .seperate .input-group .form-control:first-child, .apsq .seperate .input-group-addon:first-child, .apsq .seperate .input-group-btn:first-child>.btn, .apsq .seperate .input-group-btn:first-child>.dropdown-toggle, .apsq .seperate .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}
.apsq .seperate .input-group .form-control:last-child, .apsq .seperate .input-group-addon:last-child, .apsq .seperate .input-group-btn:last-child>.btn, .apsq .seperate .input-group-btn:last-child>.dropdown-toggle, .apsq .seperate .input-group-btn:first-child>.btn:not(:first-child) {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

.input-group-btn .btn{
	padding-bottom:11px;
}

#apsq-privacy-policy-txt{
	display:inline-block;
	font-size:11px;
}

#apsq-ref-out{
	color:#555;
}

/* Mobile */
@media (max-width: 480px) {
	#apsq-page{
		padding-top: 10px;
	}
	.apsq .input-group-btn, .apsq .input-group{
		display:block;
		width:100%;
	}
	.apsq #apsq-subscribe-btn{
		margin-left:0;
		width:100%;
		display:block;
	}
	
	.apsq .input-group .form-control:first-child, .apsq .input-group-addon:first-child, .apsq .input-group-btn:first-child>.btn, .apsq .input-group-btn:first-child>.dropdown-toggle, .apsq .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
		border-bottom-right-radius: 4px;
		border-top-right-radius: 4px;
	}
	.apsq .input-group .form-control:last-child, .apsq .input-group-addon:last-child, .apsq .input-group-btn:last-child>.btn, .apsq .input-group-btn:last-child>.dropdown-toggle, .apsq .input-group-btn:first-child>.btn:not(:first-child) {
		border-bottom-left-radius: 4px;
		border-top-left-radius: 4px;
	}
	.countdown_section{
		margin-bottom: 10px !important;
	}
	
	#apsq-field-wrapper{
	  width:100%;
	}

	#apsq-credit{
		position:static;
		margin-top:20px;
	}

	.flexbox #apsq-page{
	display:flex;
	padding:10px;
	flex-direction: column;
	}
}
