/* SPDX-FileCopyrightText: 2022 CERN and the Allpix Squared authors
 * SPDX-License-Identifier: CC0-1.0 */

/* Allpix Squared colors */
$primary: #1e4cba;  /* 100uPET Dark */
$secondary: #004dc1; /* 100uPET Bright */

/* TODO: using Google Fonts will ping Google servers, let's not do that */
$td-enable-google-fonts: true;

/* increase the default font size a bit */
$font-size-base: 1.05rem;

/* we don't want super wide sections on wide screens */
/* TODO: also add a left marigin so that it is centered? */
.section {
    @extend .td-max-width-on-larger-screens;
}

/* make sure images in figures scale correctly (i.e. on screenshots page) */
figure img {
    max-width: 100%;
    width: auto;
    height: auto;
}

/* front page styling */
.100uPET-colored-header {
    color: $primary;
}
.100uPET-lead-text {
    font-weight: normal;
    font-size: 1.3rem;
}
