/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    background: black;
    margin-top: 0em;
    height: 100%;
    font-size: 100%;
     
}
.container{
	width: 100%;
	margin-top:0px;
	margin-bottom:0px;
    background: #0;
	display: flex;
	flex-direction: column;
	align-items: center; /* Horizontally center the contents */
	justify-content: center; /* Vertically center the contents */
	min-height: 100vh; /* Ensure the container takes at least the full viewport height */
}

.scene-container {
  width: 100%;
position: fixed;
}
 
/* Optional: Adjust row styles if needed */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0; /* Remove any top margin */
  justify-content: center; /* Center the columns horizontally within the row */
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Asap", sans-serif;
  background-color: #000000;
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 0vh;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Center text within the header */
  justify-content: center;
}
header h1 {
  position: relative;
  left: 0%;
  width: 100vw;
  font-size: 60px;
  font-weight: 600;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;   
}
header .header-1{
  background-image: linear-gradient(45deg, #3f8fa2, #1e4cba);
}

.our-team{
	height: auto; /* Set the desired height */
	width: auto; /* Set the desired width */
    padding: 20px 5px 30px;
    background: black;
    border-radius: 15px;
    text-align: center;
    border:1px solid #004dc1;
}

.our-team:hover{
transition: .5s;
  box-shadow: 0px 1px 5px 0px #d1d1d1;
}
.our-team .pic{
    display: inline-block;
    width: 70%;
    height: 70%;
    background: white;
    padding: 5px;
    margin-bottom: 15px;
    transition: all 0.5s ease 0s;
   border-radius: 50%;
}
.our-team:hover .pic{
    background: #004dc1;
    border-radius: 50%;
}
.pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.our-team .title{
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 7px 0;
}
.our-team .post{
    display: block;
    font-size: 15px;
    color: #004dc1;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.our-team .social{
    padding: 0;
    margin: 0;
    list-style: none;
}
.our-team .social li{
    display: inline-block;
    margin-right: 5px;
}
.our-team .social li a{
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 15px;
    color: #1DBF73;
    border: 1px solid #004dc1;
    transition: all 0.5s ease 0s;
}
.our-team:hover .social li a{
    background: #004dc1;
    color: #fff;
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}

.col-md-3,
.col-sm-6 {
  /* Your styles here */
  background-color: #000; /* Example background color */
  padding: 5px; /* Example padding */
  margin-top: 2em; /* Example margin */
  margin-left: 5px; /* Example margin */
  margin-right: 5px; /* Example margin */
  /* Add any other styles you want */
}

.module {
  clear: both;
}

.imgContainer {
  width: 100px;
  margin-bottom: 0px;
}

.imgContainer img {
  width: 100%;
}


/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px;
}
section.module.parallax {
  height: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 3em;
  line-height: 300px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("background.png");
  height: 100vh;
}
section.module.parallax-a {
  background-image: url("back_0.png");
  height: 85vh;
}
section.module.parallax-a2 {
  background-image: url("back_0a.png");
  height: 85vh;
}
section.module.parallax-2 {
  background-image: url("back_1.png");
  height: 85vh;
}
section.module.parallax-3 {
  background-image: url("back_3.png");
  height: 85vh;
}

p {
  color: white;
}

.caption {
  color: white;
}

.item {
  /* Optional: Set a maximum width to prevent images from spreading too far */
  display: flex;
  justify-content: center; /* Center horizontally */
}

.image-container {
  display: inline-block; /* Display images and captions side by side */
  vertical-align: top; /* Align images to the top of the container */
  width: 30.33%; /* Each container takes one-third of the width */
  padding: 10px; /* Add spacing around each container */
  box-sizing: border-box; /* Include padding in the width calculation */
  text-align: center; /* Center align the content */
}

.image-container img {
  max-width: 100%; /* Ensure images don't exceed the container width */
  height: auto; /* Maintain the aspect ratio */
}

.centered-div {
  display: flex;
  justify-content: center; /* Center horizontally */
}
